.name {
	padding: 0 .5em;
}

.top-bar .name h1 a {
	padding: 0 15px 0 0;
}

.top-bar,
.top-bar .name {
	margin-bottom: 0px;
	background: #fff;
	height: 80px;
	border-bottom: 10px solid #e1e1e1;
}

.hero-home {
	text-align: center;
	position: relative;
	background: #1d1d1d url('../img/bg_header.png') no-repeat;
	background-size: 100%;
	width: 100%;
	height: 29em;
	overflow: hidden;
	-webkit-transition: all .5s ease-in-out;
	   -moz-transition: all .5s ease-in-out;
		 -o-transition: all .5s ease-in-out;
			transition: all .5s ease-in-out;
}

.hero-home img {
	padding-top: .8em;
	display: block;
	margin: auto;
}

.hero-home h2 {
	font-size: 3.7em;
	color: #fff;
	padding-top: 1.5em;
	text-shadow: 0 2px 4px #000;
}

.hero-home p {
	font-size: 1.5em;
	color: #cc5311;
	text-shadow: 0 2px 3px rgba(0,0,0,1);
	padding-bottom: .8em;
	font-weight: 300;
}

@media only screen and (max-width: 768px) {
	.hero-home {
		height: 16em;
	}
}


.top-bar-section li a {
	font-size: 12px;
}

.top-bar-section li.soon a:not(.button),
.top-bar-section .soon a:not(.button):hover {
	display: inline;
	color: #c7c7c7;
}

.top-bar-section .soon span {
	display: inline;
}

.hero-contact.hero-success {
	height: 35em;
}

.hero-contact.hero-success h2 {
	padding-top: 3em;
}

.hero-contact.hero-fail h2 {
	font-size: 2.3em;
	padding-top: 2em;
}

.hero-fail span {
	color: #fff;
	line-height: 25px;
}

@media only screen and (min-width: 58.75em) {

	.top-bar-section ul {
		padding-top: 10px;
		background: none;
	}

	.top-bar-section ul li {
		margin-left: 35px;
	}

	.top-bar-section li a:not(.button) {
		color: #000;
		background: none;
	}

	.top-bar-section ul li.active > a {
		color: #cc5311;
		background: none;
	}

	.top-bar-section li a:not(.button):hover {
		background: none;
		color: #cc5311;
	}

	.top-bar-section ul li.active > a:hover {
		color: #d45f26;
	}

}

.top-bar .toggle-topbar.menu-icon {
	top: 45%;
}

.top-bar .toggle-topbar.menu-icon a {
	color: #000;
	text-indent: -58px;
}

.top-bar .toggle-topbar.menu-icon a span {
	-webkit-box-shadow: 0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px black;
			box-shadow: 0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px black;
}

@media only screen and (min-width: 48em) {
	.hero-unit h2 {
		font-size: 2.1em;
	}
}

.car-macover {
	position: absolute;
	top: 0%;
	left: 0%
}

.orbit-container {
	width: 71%;
	background: none;
	left: 13%;
	top: 9px;
}

.orbit-container li {
	background: #fff;
	position: relative;
	top: 5%;
}


.orbit-bullets {
	z-index: 1;
}

.orbit-timer,
.orbit-prev,
.orbit-next,
.orbit-slide-number {
	display: none;
}

.orbit-bullets {
	padding-top: 60px;
	width: 70px;
	left: -9px;
}

.orbit-bullets li {
	width: 19px;
	height: 21px;
	background: url('../img/car_ctrl_btm.png') no-repeat;
	border: none;
	cursor: pointer;
}

.orbit-bullets li.active {
	background: url('../img/car_ctrl_btm.png') 0px -22px no-repeat;
}

.hero-unit {
	padding: 2.5em 0px 0px 0px;
	border-top: 10px solid #e1e1e1;
}

.hero-unit h2 {
	text-align: center;
	font-weight: 700;
	font-size: 2.1em;
	margin-bottom: .1em;
}

.hero-unit p {
	text-align: center;
	width: 40em;
	margin: auto;
	font-size: 1.2em;
	margin-bottom: 0em;
	font-weight: 400;
	color: #cc5311;
	line-height: 1.4em;
}

.hero-unit hr {
	background: url('../img/img_top_sep.png') center no-repeat;
	width: 100%;
	height: 34px;
	border: none;
	margin: 1.5em 0px 6em 0px;
}

.hero-unit .button {
	margin-top: 13px;
	float: left;
}


.dev-cntn {
	padding-top: 50px;
}

.dev-cntn ul {
	color: #cc5311;
	margin: 10px 0px 20px 0px;
}

.dev-cntn li {
	list-style: none;
	background: url('../img/icn_check.png') left no-repeat;
	font-size: .76em;
	padding: 1px 0px 2px 30px;
}

.dev-cntn img {
	padding: 20px 0px 20px 0px;
}

.testi-cntn h2 {
	text-align: center;
	margin-top: .6em;
	margin-bottom: .2em;
	line-height: .8em;
	font-size: 2.5em;
}

.testi-cntn h2 span {
	font-size: 1em;
}

.testi-cntn h4 {
	text-align: center;
	margin-bottom: 3em;
	font-size: 1.5em;
}

.testi-cntn .quote-testi {
	position: relative;
	background-color: #fff;
	border: solid 1px #a6a6a6;
	background-image: -webkit-linear-gradient(top, #fafafa 89%, #dedede);
	background-image: -moz-linear-gradient(top, #fafafa 89%, #dedede);
	background-image: -o-linear-gradient(top, #fafafa 89%, #dedede);
	background-image: -ms-linear-gradient(top, #fafafa 89%, #dedede);
	background-image: linear-gradient(to bottom, #fafafa 89%, #dedede);
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.22), inset 0 0 0 1px #fff, inset 0 0 1px rgba(250,249,192,.32);
	   -moz-box-shadow: 0 2px 3px rgba(0,0,0,.22), inset 0 0 0 1px #fff, inset 0 0 1px rgba(250,249,192,.32);
			box-shadow: 0 2px 3px rgba(0,0,0,.22), inset 0 0 0 1px #fff, inset 0 0 1px rgba(250,249,192,.32);
	-webkit-border-radius: 6px;	
	   -moz-border-radius: 6px;
			border-radius: 6px;
}

.testi-cntn .quote-testi:before {
	content: '';
	background: url('../img/tip_quote.png') no-repeat;
	position: absolute;
	display: block;
	height: 11px;
	width: 20px;
	bottom: -9px;
	left: 25px;
}

.testi-cntn .quote-testi blockquote {
	position: relative;
	border: none;
	font-size: 0.8em;
	color: #000;
	padding: 0.7em 1.5em 0 1.5em;
	text-indent: 2.5em;
}

.testi-cntn .quote-testi blockquote:before {
	content: '';
	position: absolute;
	top: 12px;
	left: 20px;
	background: url('../img/quote.png') 0px 0px no-repeat;
	display: inline-block;
	width: 23px;
	height: 21px;
	z-index: 0;
}

.testi-cntn .quote-testi blockquote span {
	background: url('../img/quote.png') 0px -21px no-repeat;
	display: inline-block;
	position: relative;
	top: 10px;
	width: 23px;
	height: 21px;
}

.row.quote-info {
	margin-top: .7em;
}

.quote-info img {
	margin-top: .8em;
	margin-bottom: .8em;
	width: 76px;
	height: 78px;
}

.quote-info h6 {
	margin-top: 2.2em;
	margin-bottom: .3em;
	color: #cc5311;
	font-weight: 600;
}

.quote-info p {
	font-size: .7em;
	line-height: 1.2em;
}

.quote-info .small-4 {
	width: 109px;
}

.row.quote-info .small-8 {
	padding-left: 0;
	float: left;
}

.newsletter {
	margin-bottom: 3em;
}

.row.newsletter .large-3 {
	width: 21%;
}

.row.newsletter .large-9 {
	float: left;
	padding-left: 0;
}

.newsletter hr {
	margin-bottom: 3.5em;
}

.newsletter h5 {
	color: #000;
	font-size: 1.3em;
	margin: .5em 0px .2em 0px;
}

.newsletter label {
	font-weight: 700;
	color: #000;
	font-size: 1.2em;
	margin-bottom: 1.5em;
}

.newsletter .mc-field-group {
	width: 22em;
	float: left;
}

.newsletter input {
	width: 25em;
	height: 32px;
	margin: 0;
	float: left;
}

#mc_embed_signup div.mce_inline_error {
	margin: 0 0 1em 0;
	padding: 5px 10px;
	background-color: #6B0505;
	font-weight: bold;
	z-index: 1;
	color: #fff;
	width: 22em;
	float: left;
}

.newsletter .button {
	float: left;
	width: auto;
	margin-left: 2em;
	line-height: 1em;
	position: relative;
}

.newsletter .button:after {
	content: ' ';
	position: absolute;
	top: 5px;
	left: 10px;
	display: inline-block;
	width: 14px;
	height: 14px;
	vertical-align: text-top;
	background-image: url("../img/quote.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
	background-color: red;
	z-index: 1;
}

footer {
	border-top: 10px solid #e1e1e1;
	background-color: #1e1e1e;
	padding: 5px 0px;
}

footer .large-4 a,
footer .large-4 a:hover {
	line-height: 70px;
	color: #666666;
	font-size: .8em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -1px;
	-webkit-transition: all .5s ease-in-out;
	   -moz-transition: all .5s ease-in-out;
		 -o-transition: all .5s ease-in-out;
			transition: all .5s ease-in-out;
}

footer a:hover {
	color: #fff;
}

footer .large-5 {
	margin-top: 25px;
}

footer .large-5 p {
	color: #666666;
	font-size: .8em;
	float: right;
}

footer .large-5 a {
	border-color: #000;
}

.hero-home.hero-pricing {
	background: url('../img/bg_pricing.jpg') no-repeat;
	background-size: 100%;
	height: 20em;
}

.pricing-cntn {
	padding: 6em 0 5em 0;
}

.pricing-table {
	background-color: #fff;
	border: solid 1px #a6a6a6;
	background-image: -webkit-linear-gradient(top, #fafafa 89%, #dedede);
	background-image: -moz-linear-gradient(top, #fafafa 89%, #dedede);
	background-image: -o-linear-gradient(top, #fafafa 89%, #dedede);
	background-image: -ms-linear-gradient(top, #fafafa 89%, #dedede);
	background-image: linear-gradient(to bottom, #fafafa 89%, #dedede);
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.22), inset 0 0 0 1px #fff, inset 0 0 1px rgba(250,249,192,.32);
	   -moz-box-shadow: 0 2px 3px rgba(0,0,0,.22), inset 0 0 0 1px #fff, inset 0 0 1px rgba(250,249,192,.32);
			box-shadow: 0 2px 3px rgba(0,0,0,.22), inset 0 0 0 1px #fff, inset 0 0 1px rgba(250,249,192,.32);
	-webkit-border-radius: 6px;	
	   -moz-border-radius: 6px;
			border-radius: 6px;
}

.pricing-table .title {
	letter-spacing: 7px;
	color: #000;
	font-weight: 400;
	background: none;
	position: relative;
	padding: 0.9375em 0em 0.5em 0em;
	-webkit-border-radius: 5px 5px 0px 0px;	
	   -moz-border-radius: 5px 5px 0px 0px;
			border-radius: 5px 5px 0px 0px;
}

.pricing-table .title span {
	position: absolute;
	background: url('../img/probulb.png') no-repeat;
	background-position: -8px -3px;
	height: 98px;
	width: 108px;
	left: -26px;
	top: -23px;
}

.pricing-table .price {
	font-size: 3em;
	font-weight: 700;
	padding: 0.3em 0em .07em 0em;
	letter-spacing: -1px;
	background: none;
	text-align: center;
}

.pricing-table .description {
	font-style: italic;
	color: #cc5311;
	padding-bottom: 2em;
}

.pricing-table .price sup {
	font-size: 0.6em;
}

.pricing-table .cta-button {
	background: none;
}

.pricing-table .button {
	border-color: #614006;
}

.row.contact-cntn {
	padding: 3em 0;
}

.hero-contact {
	text-align: center;
	position: relative;
	background: url('../img/bg_contact.jpg') no-repeat;
	background-size: 100%;
	width: 100%;
	height: 20em;
	overflow: hidden;
}

.contact-cntn h6 {
	padding-bottom: 1em;
}

.contact-cntn address {
	font-size: .6em;
	text-transform: uppercase;
	font-style: normal;
	line-height: 1.5em;
	color: #7c7c7c;
	font-weight: 300;
	margin-bottom: 5em;
}

.contact-cntn .large-9 {
	border-left: 1px solid #ccc;
	padding-left: 5%;
}

.contact-cntn .large-9 p {
 	color: #cc5311;
 	padding: .4em 0 1em 0; 
}

.contact-cntn .large-9 .button {
	margin-top: 2em;
}


.contact-cntn .large-9 input {
	font-size: .8em;
}

.contact-cntn .large-9 textarea {
	font-size: .8em;
	min-height: 10em;
	max-height: 16em;
	max-width: 100%;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}

.response.success {
	font-size: .6em;
	color: #457a1a;
	line-height: 1.4;
	padding-top: 4em;
}

@media only screen and (max-width: 1176px) {
	.car-macover {
		width: 95%;
		top: 1%;
		left: 1%;
	}
	.pricing-table .title span {
		position: absolute;
		background: url('../img/probulb.png') no-repeat;
		height: 67px;
		width: 70px;
		left: -25px;
		top: -23px;
		background-size: 100%;
		background-position-x: -2px;
	}
	.pricing-table .title {
		font-size: .8em;
	}
}

@media only screen and (max-width: 940px) {

	.car-macover {
		width: 95%;
	}
	.hero-home h2 {
		font-size: 2.3em;
	}
	.hero-home p {
		font-size: 1.2em;
	}
	.hero-home {
		height: 21em;
	}
	.hero-unit {
		padding: 1.2em 0px 0px 0px;
	}
	.hero-unit p {
		width: 100%;
		font-size: 1.0em;
	}
	.hero-unit hr {
		margin: 0.0em 0px 2em 0px;
	}
	hr {
		margin: 20px 0;
	}
	h4	{
		font-size: 1.1em;
	}
	h6	{
		font-size: 0.6em;
	}
	.subheader {
		font-size: 1.0em;
	}
	.dev-cntn li,
	p {
		font-size: .75em;
	}
	.testi-cntn h2 {
		font-size: 1.5em;
	}
	.testi-cntn h4 {
		font-size: 1.3em;
		margin-bottom: 2em;
	}
	.testi-cntn .quote-testi blockquote {
		font-size: 0.70em;	
	}
	.testi-cntn .quote-testi blockquote span {
		width: 20px;
		height: 15px;
		background-size: 100%;
	}
	.testi-cntn .quote-testi blockquote:before {
		width: 20px;
		height: 15px;
		background-size: 100%;
	}
	.small-8 {
		width: 57.66667%;
	}
	.newsletter h5 {
		font-size: 1.0em;
	}
	.newsletter label {
		font-size: 1.1em;
		margin-bottom: 1.0em;
	}
	.newsletter {
		margin: 2em 0;
	}
	.newsletter .large-3 {
		display: none;
	}
	.newsletter label,
	.newsletter h5 {
		font-size: 1.0em;
		padding-left: 1em;
	}
	.newsletter .mc-field-group {
		width: 11em;
	}
	.response.success {
		margin-left: 1.3em;
	}
	.newsletter input {
		margin-left: 1em;
		width: 12.3em;
	}
	#mc_embed_signup div.mce_inline_error {
		margin-left: 1.4em;
		width: 16.7em;
		font-size: 12px;
	}
	footer {
		padding: .5em 0;
	}
	footer .large-4,
	footer .large-5,
	footer .large-5 p {
		width: 100%;
		text-align: center;
		padding: 0; 
		margin: 0;
		line-height: 22px;
		height: 48px;
	}

	.large-6.columns {

	}
	.hero-home {
		height: 12em;
	}
	.hero-home.hero-pricing {
		height: 15em;
	}

}

@media only screen and (max-width: 768px) {
	.large-6.columns {
		width: 50%;	
	}
	.row.contact-cntn {
		text-align: center;
		padding: 0 0 1em 0;
	}
	.contact-cntn h6 {
		font-size: 1.5em;
	}
	.contact-cntn address {
		font-size: .7em;
		margin: 0 0 2em 0;
		padding-bottom: 2em;
		border-bottom: 1px solid #e1e1e1;
	}
	.pricing-cntn {
		padding: 2em 0 1em 0;
	}
	.pricing-table {
		margin-bottom: 2em;
	}
}

@media only screen and (max-width: 667px) {
	.hero-home.hero-pricing {
		height: 9em;
	}
	.row.contact-cntn {
		padding: 0em 0;
	}
	.large-6.columns {
		width: 100%;	
	}
	.hero-home h2 {
		font-size: 1.2em;
	}
	.hero-home p {
		font-size: 1.0em;
		line-height: 1.3em;
		margin-top: .3em;
	}
	.hero-home {
		height: 15.5em;
	}
	.hero-home.hero-contact {
		height: 12em;	
	}
	.hero-unit {
		padding: 1.2em 0px 0px 0px;
	}
	.hero-unit p {
		width: 100%;
		font-size: .8em;
	}
	.dev-cntn img,
	.carousel-mac {
		display: none;
	}
	.dev-cntn {
		padding-top: 30px;
	}
	.hero-unit hr {
		margin: 0.0em 0px 2em 0px;
	}
	hr {
		margin: 0px 0;
	}
	h4	{
		font-size: 1.1em;
	}
	h6	{
		font-size: 0.6em;
	}
	.subheader {
		font-size: 1.0em;
	}
	.dev-cntn li,
	p {
		font-size: .75em;
	}
	.testi-cntn h2 {
		font-size: 1.1em;
	}
	.testi-cntn h4 {
		font-size: 1.0em;
		margin-bottom: 2em;
	}
	.newsletter {
		margin: 2em 0;
	}
	.newsletter .large-3 {
		display: none;
	}
	.newsletter label,
	.newsletter h5 {
		font-size: 1.0em;
		padding-left: 1em;
	}
	.newsletter input {
		margin-left: 1em;
		width: 80%;
	}
	.newsletter .button {
		margin-left: 1.1em;
	}
	.quote-info h6 {
		margin-top: 1.2em;
		font-size: 0.9em;
	}
	.row.quote-info .small-8 {
		width: 56%;
		padding-top: 10px;
	}
	.pricing-table .title span {
		position: absolute;
		background: url('../img/probulb.png') no-repeat;
		background-position: -4px -2px;
		height: 60px;
		width: 68px;
		left: -13px;
		top: -8px;
		background-size: 100%;
	}
	.pricing-table .title {
		font-size: 0.7em;
	}
	#mc_embed_signup div.mce_inline_error {
		margin-left: 1.4em;
		width: 14.1em;
		font-size: 12px;
	}
}